* {
    margin: 0;
    padding: 0;
}

a {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.Naprawa {
    width: auto;
    height: auto;
    display: inline;
}

#Container {
    min-height: 178vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #bafae6;
    grid-gap: 10px;
    font-family: 'Playfair Display', serif;
}

#Topbar {
    grid-area: 1/1/span 2/span 12;
    background-color: blue;
    display: flex;
}

#Tekstwtopbarze {
    width: 85%;
    height: 100%;
    font-size: 2.5em;
    display: flex;
}

#Tekstwtopbarze>span {
    display: block;
    align-self: flex-end;
}

#Logo {
    width: 282px;
    height: 100%;
    background-color: white;
    background-image: url(../Obrazy/ikona.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Menusticky {
    grid-area: 3/1/span 1/span 12;
    background-color: #6adeaa;
    border: 2px solid #5da890;
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    display: flex;
    text-align: center;
}

.Wybor {
    display: flex;
    width: calc(100% / 3);
    height: 100%;
    font-size: 2em;
    font-weight: 600;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #5da890;
}

.Wybor>span {
    display: block;
}

.Wybor:hover {
    cursor: pointer;
}

#Kontent {
    display: flex;
    flex-direction: row;
    grid-area: 4/2/span 8/ span 9;
    justify-content: space-between;
    align-items: center;
}

#Stoopka {
    grid-area: 13/1/ span 1/ span 12;
}

#Logowanie {
    width: 45%;
    height: 80%;
    border: 10px solid #5da890;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 3em;
    -webkit-box-shadow: 20px 16px 53px -12px rgba(93, 168, 144, 1);
    -moz-box-shadow: 20px 16px 53px -12px rgba(93, 168, 144, 1);
    box-shadow: 20px 16px 53px -12px rgba(93, 168, 144, 1);
}

#FormLog {
    width: 80%;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

#FormLog input[type=email] {
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 0.5em;
    border: 8px solid #5da890;
    border-radius: 15px;
    background-color: #a3e3cf;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    border: 1px solid black;
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 1000px #a3e3cf inset;
    -moz-box-shadow: 0 0 0px 1000px #a3e3cf inset;
    box-shadow: 0 0 0px 1000px #a3e3cf inset;
    transition: background-color 5000s ease-in-out 0s;
}

select:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
input:-webkit-autofill:focus {
    border: 1px solid black;
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 1000px #98f7d9 inset;
    -moz-box-shadow: 0 0 0px 1000px #98f7d9 inset;
    box-shadow: 0 0 0px 1000px #98f7d9 inset;
    transition: background-color 5000s ease-in-out 0s;
}

input:focus {
    outline: none;
}

#FormLog input[type=password] {
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 0.5em;
    border: 8px solid #5da890;
    border-radius: 15px;
    background-color: #a3e3cf;
}

#FormLog input[type=submit] {
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 0.6em;
    border: 8px solid #5da890;
    border-radius: 15px;
    background-color: #a3e3cf;
}

#FormLog input:focus {
    -webkit-box-shadow: 11px 11px 87px -15px rgba(93, 168, 144, 1);
    -moz-box-shadow: 11px 11px 87px -15px rgba(93, 168, 144, 1);
    box-shadow: 11px 11px 87px -15px rgba(93, 168, 144, 1);
    background-color: #98f7d9;
}

#Rejestrowanie {
    width: 45%;
    height: 80%;
    border: 10px solid #5da890;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 3em;
    -webkit-box-shadow: 20px 16px 53px -12px rgba(93, 168, 144, 1);
    -moz-box-shadow: 20px 16px 53px -12px rgba(93, 168, 144, 1);
    box-shadow: 20px 16px 53px -12px rgba(93, 168, 144, 1);
}

#FormRejest {
    width: 80%;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

#FormRejest input[type=email] {
    width: 100%;
    height: 8%;
    text-align: center;
    font-size: 0.5em;
    border: 8px solid #5da890;
    border-radius: 15px;
    background-color: #a3e3cf;
}

#FormRejest input[type=password] {
    width: 100%;
    height: 8%;
    text-align: center;
    font-size: 0.5em;
    border: 8px solid #5da890;
    border-radius: 15px;
    background-color: #a3e3cf;
}

#FormRejest input[type=submit] {
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 0.6em;
    border: 8px solid #5da890;
    border-radius: 15px;
    background-color: #a3e3cf;
}

#FormRejest input[type=text] {
    width: 100%;
    height: 8%;
    text-align: center;
    font-size: 0.6em;
    border: 8px solid #5da890;
    border-radius: 15px;
    background-color: #a3e3cf;
}

#FormRejest input:focus {
    -webkit-box-shadow: 11px 11px 92px -7px rgba(93, 168, 144, 1);
    -moz-box-shadow: 11px 11px 92px -7px rgba(93, 168, 144, 1);
    box-shadow: 11px 11px 92px -7px rgba(93, 168, 144, 1);
    background-color: #98f7d9;
}